{#
/**
 * @file
 * Default theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.menu: Items for the menu region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.

 *
 * @see template_preprocess_page()
 * @see insha_preprocess_page()
 * @see html.html.twig
 */
#}
<nav style="background: {{ header_bg }}; color: {{ header_txt }} !important" role="navigation">
    <div class="nav-wrapper container">
        {% if page.menu %}
            {{ page.menu }}
        {% endif %}
    </div>
</nav>
<main>
    <article{{ attributes }}>
        <div class="parallax-container hide-on-small-only">
            <div class="parallax">
                <div class="parallax-overlay">
                    <h1 class="overlay-title">Tracking the Patriots Dynasty</h1>
                </div>
                <img src="{{ random([
                    '/themes/materialize/images/brady-belichick.gif',
                    '/themes/materialize/images/brady-belichick-close.gif',
                    '/themes/materialize/images/edelman-catch.gif',
                    '/themes/materialize/images/adam-snow-kick.gif',
                    '/themes/materialize/images/brady-throw.gif',
                ]) }}" alt="Header Background Image" />
            </div>
        </div>

        <div class="hide-on-med-and-up">
            <h1 class="center">Tracking the Patriots Dynasty</h1>
        </div>



        <div class="container">
            <div class="row">
                <div class="col s12">
                    <p class="flow-text">Throughout the history of the NFL there have been many dynasties, but none have&nbsp;<a
                                href="https://fivethirtyeight.com/features/the-patriots-are-the-nfls-greatest-dynasty/">been on the same
                            level</a>&nbsp;as the Patriots' dominance since Bill Belichick took over in 2000. Since September 3rd,
                        2000 the Patriots have an astounding win percentage against the rest of the league. In fact, no team in the
                        NFL has a winning record against the Patriots in this span.</p>

                    <p class="flow-text">This website was created to document this historical run by the most dominant team in the history of the
                        league. Use the cards below to find out more information about each important part of the dynasty.</p>
                </div>
            </div>

          <div class="row">
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <a href="/tom-brady"><img src="/themes/materialize/images/brady-throw.gif" alt="Tom Brady"></a>
                  <span class="card-title">Tom Brady</span>
                </div>
                <div class="card-content">
                  <a href="/tom-brady">More about the best QB to ever play the position.</a>
                </div>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <a href="/patriots-games"><img src="/themes/materialize/images/adam-snow-kick.gif" alt="Patriots Games"></a>
                  <span class="card-title">Games</span>
                </div>
                <div class="card-content">
                  <a href="/patriots-games">More about each and every game of the dynasty.</a>
                </div>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <a href="/search/gifs"><img src="/themes/materialize/images/edelman-catch.gif" alt="Highlights"></a>
                  <span class="card-title">Highlights</span>
                </div>
                <div class="card-content">
                  <a href="/search/gifs">Gifs of all the important plays of the dynasty.</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <h2>Latest Podcast Episode</h2>
            {{ page.content.latest_podcast_episode }}
          </div>
          <div class="row">
            {{ page.content.onthisday }}
          </div>

        </div>
    </article>
</main>
  <footer class="page-footer" style="background: {{ footer_bg }}; color: {{ footer_txt }} !important">
    {% if page.footer %}
      <div class="container">
          {{ page.footer }}
      </div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col s12 l9">
          <span>All data has been gathered from either <a href="http://wikipedia.org" target="_blank">Wikipedia</a> or <a href="http://www.pro-football-reference.com/" target="_blank">Pro Football Reference</a>, and has been attributed as such whenever possible.</span>
        </div>
        <div class="col s12 l3 right text-align-center">
          <span>Want to help keep the site running?</span> <br>
          <a href="/support-us" class="btn red darken-4">Donate</a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      &copy; 2017 Patriots Dynasty Info
    </div>
  </footer>
  <script type="application/javascript">
    var searches = document.getElementsByClassName('search-option');
    Array.prototype.forEach.call(searches, function(elem) {
      // Do stuff here
      elem.addEventListener('click', function(event) {
        // Stop the link from redirecting
        event.preventDefault();
        var searchText = document.getElementById('search-text').value;
        // Redirect instead with JavaScript
        window.location.href = elem.href + '?search=' + searchText;
      }, false);
    });
</script>
